<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" >
    <div *ngIf="errorMessage" [ngClass]="errorMessage?.status ? 'success': 'error'">
        <img src="assets/icons/{{errorMessage.status?'check':'error'}}-img.svg" style="width: 20px; margin-right: 15px;" />
        {{errorMessage.message}}
    </div>
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <form class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width" [formGroup]="form">
                    <input formControlName="email" matInput placeholder="Username">
                </mat-form-field>
                <mat-form-field class="example-full-width" [formGroup]="form">
                    <input formControlName="password" matInput placeholder="Password">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block" (click)="onLogin()">Log in</button>
        </form>
    </mat-card>

    <app-loader color="accent" *ngIf="loading"></app-loader>

</div>
